* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  width: 100%;
  background-color: #e3e9f6;
}
.sidebar {
  background-color: #fff;
  width: 17%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-text img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
}
.header-text .name {
  font-weight: 700;
  font-size: 1.2rem;
}
.header-text .profession {
  display: block;
  font-size: 0.9rem;
  color: #666;
}
.menu-bar {
  flex: 1;
  margin-top: 20px;
}
.menu-links {
  list-style: none;
  padding: 0;
}
.menu-link {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}
.menu-link a {
  text-decoration: none;
  color: #747276;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.menu-link:hover,
.logout:hover {
  background-color: #675af0;
}
.menu-link:hover a,
.logout:hover a {
  color: white;
}
.menu-link a span {
  margin-left: 15px;
}
.logout {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
}
.logout a {
  text-decoration: none;
  color: #747276;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.logout a span {
  margin-left: 15px;
}
.btn {
  position: absolute;
  right: -5%;
  top: 4%;
  background-color: #675af0;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar.collapsed {
  width: 80px;
}
.sidebar.collapsed .header-text,
.sidebar.collapsed .menu-link a span,
.sidebar.collapsed .logout a span {
  display: none;
}
.sidebar.collapsed .menu-link{
  margin: 20px 0px;
  padding: 10px;
}
.sidebar.collapsed .btn i {
  transform: rotate(180deg);
}
.sidebar.collapsed .btn {
  right: -19%;
}


.home{
    padding: 20px;
}
.home p{
    font-size: 2rem;
}